/* @import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */
 * {
   margin: 0;
   padding: 0;
 }

 body {
   background: #555;
 }

 /*
  *  List component styles
  *
  */

  .hoverable:hover {
    background-color: rgba(33, 37, 41, 0.7);
    color:#fff;
  }

 .item-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }

 .item-item {
   margin: 10px 0px;
   list-style-type: none;
 }
