<section class="card h-75">

  <header class="card-header bg-dark d-flex justify-content-around">
    <img src="{{@item.herb}}" alt="Flage of {{@item.name}}" width="50" height="50">
    <h1 class="text-warning">{{@item.name}}</h1>
    <img src="{{@item.flag}}" alt="Flage of {{@item.name}}" width="75" height="50">
  </header>

  <div class="card-body d-flex justify-content-around" style="background-image: url({{@item.bgImage}}); background-size: cover;">
    <div class="left min-vw-25 p-3">
      <p class="hoverable p-1"><strong>Official Language: </strong> <i>{{@item.officialLang}}</i></p>
      <p class="hoverable p-1"><strong>Capital: </strong> <i>{{@item.capital}}</i></p>
      {{#if @item.cities}}
        <p class="hoverable p-1"><strong>All cities: </strong> <i>{{@item.cities}}</i></p>
      {{/if}}
      <p class="hoverable p-1"><strong>All places: </strong> <i>{{@item.places}}</i></p>
    </div>
    <div class="right  p-3 {{if this.isLarge "large"}}"  {{on "click" this.toggleSize}}>
      {{#if this.isLarge}}
        <p>{{@item.info}}</p>
      {{else}}
        <p class="hoverable p-3">{{@item.infoShort}}</p>
      {{/if}}
    </div>

  </div>

  <footer class="card-footer bg-dark d-flex justify-content-start h-25">
    <p>Area: {{@item.area}} km<sup>2</sup>;</p>
    <p>Population: {{@item.population}}</p>
  </footer>

</section>
