<h2 class="text-light">{{@title}}</h2>

<ul class="item-list">
    {{#each @subg as |item|}}
      <LinkTo class="item-item" @route="{{@routerLink}}" @model={{item.id}}>
          <Card @item={{item}} />
      </LinkTo>
    {{/each}}
</ul>
