<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <LinkTo class="navbar-brand d-flex align-items-center" @route="index">Travel all your tyme!</LinkTo>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown-1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <LinkTo class="nav-link menu-index" @route="index">Home
            <span class="sr-only">(current)</span>
          </LinkTo>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#a" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <LinkTo class="dropdown-item menu-country" @route="countryList">Countries</LinkTo>
            <LinkTo class="dropdown-item menu-district" @route="districtList">Districts</LinkTo>
            <LinkTo class="dropdown-item menu-city" @route="cityList">Cities</LinkTo>
          </div>
        </li>
        <!-- <li class="nav-item">
          <LinkTo class="nav-link menu-random" @route="contact">Random Choose</LinkTo>
        </li> -->
        <li class="nav-item">
          <LinkTo class="nav-link menu-contact" @route="contact">Contact</LinkTo>
        </li>
      </ul>
    </div>
  </div>
</nav>
