{{#if @model }}

  <header class="card-header d-flex justify-content-around">
    <img src="{{@model.model.herb}}" alt="Flage of {{@model.model.name}}" width="50" height="50">
    <h1 class="text-light">{{@model.model.district_name}}</h1>
    <img src="{{@model.model.flag}}" alt="Flage of {{@model.model.name}}" width="75" height="50">
  </header>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <!-- {{#if @model.list}}
      {{#each @model.list as |item|}}
        <div class="carousel-item">
          <li data-target="#carouselExampleIndicators" data-slide-to="{{item.id}}"></li>
        </div>
      {{/each}}
    {{/if}} -->
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{@model.model.bgImage}}" class="d-block w-100" height="500" alt="fotos of {{@model.model.name}}">
    </div>
    {{#if @model.list}}
      {{#each @model.list as |item|}}
        <div class="carousel-item">
          <img src="{{item.bgImage}}" class="d-block w-100" height="500" alt="fotos of {{@model.model.name}}">
        </div>
      {{/each}}
    {{/if}}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <div class="left min-vw-25 p-3 bg-dark">
    <p class="hoverable p-1 text-light"><strong>Capital: </strong> <i>{{@model.model.capital}}</i></p>
    <p class="hoverable p-1 text-light">Area: {{@model.model.area}} km<sup>2</sup>;</p>
    <p class="hoverable p-1 text-light">Population: {{@model.model.population}}</p>
  </div>

  <p class=" text-light">{{@model.model.info}}</p>

  {{#if @model.model.cities}}
    <footer class="card-footer bg-dark d-flex justify-content-start h-25">
      <p class="hoverable p-1 text-light"><strong>All cities: </strong> <i>{{@model.model.cities}}</i></p>
      {{#if @model.model.places}}
        <p class="hoverable p-1 text-light"><strong>All places: </strong> <i>{{@model.model.places}}</i></p>
      {{/if}}
    </footer>
  {{/if}}

  <ItemList @title="The list of {{@model.model.district_name}} districts" @routerLink="city" @subg={{@model.list}}/>


{{else}}
  <h2> There are no expected country</h2>
{{/if}}
