
<!-- <LinkTo @route="about" class="button">About Us</LinkTo> -->
<h1 class="travel" style="color: blanchedalmond;padding-top: 100px;">
  What is travel? And what is a traveler?</h1>

<p class="traveler" style="width: 600px;color: aquamarine;
    margin-left: 400px;padding-top: 50px;">
  Travel is kind of like Life, except it happens someplace else. You wake up. You eat. You go out and see things, do things. And you meet people; some of them you get along with, some you don’t. Then you eat again and go to sleep.</p>

<!-- <div class="countries">
    <ItemList @title="Where you want to be..." @subg={{@model}}/>

</div> -->
<LinkTo @route="countryList" class="button">Discover the world!</LinkTo>
